<!-- views/home/welcome.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>        
    </head>
    <body>
        <% include ../partials/nav %>
        <div class="container home home-welcome">
            <div class="jumbotron">
                <h1>Mongo Express AngularJS Blog</h1>
                <p> in the middle of test </p>
            </div>
        </div>
    </body>
</html>